@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grayish-blue: hsl(201, 11%, 66%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-grayish-blue: var(--dark-grayish-blue);
  --color-grayish-blue: var(--grayish-blue);
  --color-strong-cyan: var(--strong-cyan);
  --color-light-blue: var(--light-blue);

  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  --font-sansa: "Josefin Sans", sans-serif;
  --font-alata: "Alata", ui-sans-serif, system-ui, sans-serif;

  --tracking-widest: 0.3em;
}

@layer base {
  h5 {
    @apply absolute px-6 duration-200 w-52 bottom-4 md:bottom-8 md:px-10 group-hover:scale-110 group-hover:text-black;
  }
}

@utility btn {
  @apply px-10 py-2 my-0 font-bold tracking-widest uppercase border-2 border-black font-alata hover:bg-black hover:text-white;
}

@utility item-container {
  @apply flex flex-col justify-between w-full space-y-6 text-2xl text-white uppercase md:flex-row md:space-y-0 md:space-x-8;
}

@utility item {
  @apply relative overflow-hidden md:w-1/4;
}

@utility item-gradient {
  @apply absolute top-0 bottom-0 right-0 left-0 bg-linear-to-b from-transparent to-gray-900 group-hover:from-gray-50 group-hover:to-white group-hover:opacity-70;
}

@media (prefers-color-scheme: dark) {
}

body {
}

#hero {
  background-image: url("/loopstudio/images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (width < 576px) {
    background-image: url("/loopstudio/images/mobile/image-hero.jpg");
    background-position: center;
  }
}
